doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
    link(rel='stylesheet' href='css/css.css')
nav.navbar.navbar-expand-lg.sticky-top(data-bs-theme='dark')
    .container-fluid
        a.navbar-brand(href='/')
            h1 Y
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarText.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(aria-current='page' href='/') Strona G&lstrok;&oacute;wna
                li.nav-item
                    a.nav-link(href='/Nartykuly') Wszystkie artykuły
                li.nav-item
                    a.nav-link(href='/O nas') O nas
                li.nav-item
                    a.nav-link(href='/nowy') Nowy artykuł
            span.navbar-text
                ul.navbar-nav.me-auto.mb-2.mb-lg-0
                    if id != ""
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='/Profil')= username
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='/Logout') Wyloguj się
                    else
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='/Login') Login
                        li.nav-item
                            a.nav-link(href='/Rejestracja') Rejestracja
form(action="/nowy" method="post").artykul-form-div
    .zdjc-art
        img(src="" alt="Tutaj powinien być obrazek" width='375' height='400' id="tutaj")  
    div
        input(type="text" name="zdjc" id="zdjc" placeholder="Link do zdjęcia"  required)
        p(id = "wiadomosc").powiadomienie
        br 
        input(type="text" name="tytul" placeholder="Tytuł artykułu" required)
        br
        br
        input(type="text" name="tagi" placeholder="Tagi np. #tanie #serio_mówię").tagi
        textarea(name="tresc" cols="30" rows="10" minlength="2101" placeholder="tresc" required)
        button(type="submit")
            | prześlij
footer.footer
    .container
        .footer-content
            .footer-logo
                a(href="https://github.com/LoriV2/ProjektRzeczyNodeJS" target="_blank")
                    img(src="https://cdn-icons-png.flaticon.com/512/733/733609.png" alt="GitHub Logo")
            .footer-info
                p
                    | Strona stworzona przez 
                    a(href="https://linktr.ee/loriv2" target="_blank") Lorenzo Marinucci
                p
                    | © #{new Date().getFullYear()} Wszelkie prawa zastrzeżone.
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')
script.
    let imageUrl = ''; // Wstaw tutaj URL swojego obrazu
    const inputElement = document.getElementById('zdjc');
    const wiadomosc = document.getElementById('wiadomosc');
    let inputElement2 = document.getElementById('tutaj');

    inputElement.addEventListener('input', function(event) {

    imageUrl = event.target.value;
    let img = new Image();
    img.src = imageUrl;

    img.onload = function() {
        inputElement2.src = imageUrl;
        wiadomosc.innerHTML = "";
        console.log('Obraz został załadowany.');
    };

    img.onerror = function() {
        wiadomosc.innerHTML = "Nie poprawny link do zdjęcia";
        console.error('Błąd ładowania obrazu.');
    };
    });