$primary-color: #04151F;
$secondary-color: #183A37;
$thirdary-color: #EFD6AC;
$fourthary-color: #2F2D2E;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input {
    border: none;
    border-radius: 35px;
}

input:focus {
    outline: $secondary-color groove 10px;
}

input:hover {
    outline: $secondary-color groove 10px;
}

body {
    background-color: $secondary-color;
}

textarea {
    margin-top: 10%;
    width: 90%;
}

.zdjcrzeczy {
    border-radius: 20px;
    width: 100%;
}

.pojemnik {
    margin-top: 10vh;
    margin-bottom: 30vh;
}

nav {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $primary-color;
}

.card {
    border-radius: 20px;
    background-color: $thirdary-color;
}

footer {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $fourthary-color;
    padding: 1%;
}

.login-div {
    text-size-adjust: 10;
    border: $primary-color 9px solid;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $thirdary-color;
    width: fit-content;
    height: fit-content;

    p {
        padding: 3%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        background-color: $secondary-color;
        width: 30%;
        border-radius: 45px;
        color: $thirdary-color;
    }

    input {
        padding: 5%;
        width: 80%;
        margin-top: 20%;
    }

    button:hover {
        color: $thirdary-color;
        background-color: $secondary-color;
    }

    button {
        border-radius: 45px;
        padding: 5%;
        color: white;
        background-color: $primary-color;
        border: none;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

.artykul-div {
    text-size-adjust: 10;
    border: $primary-color 9px solid;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $thirdary-color;
    width: 70%;
    height: fit-content;

    p {
        padding: 3%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        background-color: $secondary-color;
        width: 80%;
        border-radius: 45px;
        color: $thirdary-color;
    }

    input {
        padding: 5%;
        width: 80%;
        margin-top: 20%;
    }

    button:hover {
        color: $thirdary-color;
        background-color: $secondary-color;
    }

    button {
        border-radius: 45px;
        padding: 5%;
        color: white;
        background-color: $primary-color;
        border: none;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}