$primary-color: #04151F;
$secondary-color: #183A37;
$thirdary-color: #EFD6AC;
$fourthary-color: #2F2D2E;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inputwnav {
    margin-left: 2%;
}

a {
    text-decoration: none;
}

input {
    border: none;
    border-radius: 35px;
}

input:focus {
    outline: $secondary-color groove 10px;
}

input:hover {
    outline: $secondary-color groove 10px;
}

body {
    background-color: $secondary-color;
}

textarea {
    margin-top: 10%;
    width: 90%;
}

.indexten {
    text-align: center;
    color: $thirdary-color;
}

.chmurkaislonce {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-bottom: 10%;

    .emoji-large {
        font-size: 100px;
    }

    button {
        background-color: transparent;
        background-image: none;
        border: none;
        margin-left: 2%;
        margin-right: 2%;
        line-height: 2;
        width: 10%;
    }

    .chmurka:hover {
        border: $thirdary-color 1px solid;
        background-image: url('https://i.imgur.com/wcFzDaz.png');
    }

    .slonce:hover {
        border: $thirdary-color 1px solid;
        background-image: url('https://teraz.com.pl/vardata/gify/kotki/kotki076.gif');
    }
}

.form-komentarz {
    color: $thirdary-color;
    width: 100%;
    text-align: center;
    margin-bottom: 4%;

    button {
        background-color: $primary-color;
        color: $secondary-color;
        border: none;
        border-radius: 25px;
        padding: 10px;
    }

    button:hover {
        background-color: $thirdary-color;
        color: $primary-color;
    }

    textarea {
        border: none;
        padding: 10px;
        border-radius: 35px;
        background-color: $primary-color;
        color: $thirdary-color;
    }
}

.zdjcrzeczy {
    border-radius: 20px;
    width: 100%;
}

.pojemnik {
    margin-top: 10vh;
    margin-bottom: 30vh;
    margin-left: auto;
    margin-right: auto;
}

nav {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $primary-color;
}

.card {
    border-radius: 20px;
    background-color: $thirdary-color;
}

footer {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $fourthary-color;
    padding: 1%;
}

.komentarze {
    background-color: $primary-color;
    color: $thirdary-color;
    width: 100%;
    padding: 1%;
    text-align: left;
    border-radius: 25px;
    margin-bottom: 2%;
    .komentarz {
        border: solid 1px $thirdary-color;
        margin: 2%;
        border-radius: 12px;
        width: 40%;
        .data_dodania {
            text-align: center;
        }

        .autor_komentarza {
            text-align: center;
        }

        .tresc_komentarza {
            text-align: left;
        }
    }
}

.login-div {
    text-size-adjust: 10;
    border: $primary-color 9px solid;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $thirdary-color;
    width: fit-content;
    height: fit-content;

    p {
        padding: 3%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        background-color: $secondary-color;
        width: 30%;
        border-radius: 45px;
        color: $thirdary-color;
    }


    input {
        padding: 5%;
        width: 80%;
        margin-top: 20%;
    }

    button:hover {
        color: $thirdary-color;
        background-color: $secondary-color;
    }

    button {
        border-radius: 45px;
        padding: 5%;
        color: white;
        background-color: $primary-color;
        border: none;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

.zdjc-art {
    top: 0;
    margin-left: 0;
    z-index: -1;
    position: relative;
    margin-top: -20px;

    img {
        z-index: -1;
        margin-left: 0;
        width: 100%;
    }
}

.artykul-div::before {
    z-index: 4;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 299px;
    width: 100%;
    top: 0;
    /* Use your background color, assuming white: */
    background-image: linear-gradient(to top, $secondary-color, rgba(255, 255, 255, 0));
}

.artykul-div {
    top: 0;
    border-radius: 20px;
    padding-top: 50px;
    overflow: auto;
    border: 0 solid transparent;
    text-align: center;
    width: 100%;
    z-index: 1;
    margin-top: -200px;
    margin-bottom: 30vh;
    background-color: $secondary-color;
    color: $thirdary-color;

    div {
        margin-left: 10vw;
        margin-right: 10vw;
        text-align: center;
    }
}

.artykul-form-div {
    text-size-adjust: 10;
    border: $primary-color 9px solid;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    height: fit-content;

    .powiadomienie {
        color: red;
    }

    input {
        padding: 1%;
        width: fit-content;
    }

    button:hover {
        color: $thirdary-color;
        background-color: $fourthary-color;
    }

    textarea:focus {
        border: none;
    }

    textarea {
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: $secondary-color;
        color: $thirdary-color;
        border: $primary-color 2px solid;
    }

    button {
        border-radius: 45px;
        padding: 5%;
        color: white;
        background-color: $primary-color;
        border: none;
        margin-bottom: 10%;
    }
}