$primary-color: #183342;
$secondary-color: #338a82;
$thirdary-color: #5dc7a4;
$fourthary-color: #38041e;

*,
*::before,
*::after {
    font-family: Garamond;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table {
    font-size: large;
    margin-top: 2%;
    margin-bottom: 16%;

    td,
    th,
    tr {
        color: $thirdary-color;
        background-color: $primary-color;
        border: 2px solid $fourthary-color;
    }

    tbody {
        .c:hover {
            background-color: $thirdary-color;
        }
    }


    td:hover {
        background-color: $fourthary-color;
    }
}


.tytul {
    width: 100%;
    text-align: center;
}

.kolejny_parent {
    ol {
        font-size: large;
    }

    .kreska_parent {
        .kreska {
            background-color: $thirdary-color;
        }
    }

    h1 {
        color: $primary-color;
    }

    a {
        color: $secondary-color;
    }

    a:hover {
        color: $fourthary-color;
    }

    width: 100%;
    text-align: center;
    display: inline-block;

    .kolejny1 {
        display: inline-block;
        padding: 50px;
        height: 30%;
        background-color: $primary-color;
        width: 30%;
        border-radius: 90vw;
        color: $thirdary-color;
    }

    .kolejny2 {
        display: inline-block;
        background-color: $primary-color;
        padding: 50px;
        height: 30%;
        width: 30%;
        border-radius: 90vw;
        color: $thirdary-color;
    }

    .kolejny3 {

        display: inline-block;
        margin-top: 5%;
        background-color: $primary-color;
        width: fit-content;
        padding: 100px;
        border-radius: 10vh;
        color: $thirdary-color;
    }
}


.kreska_parent {
    text-align: -webkit-center;
    width: 100%;
    height: auto;
    margin-top: auto;

    .kreska {
        text-align: center;
        border-radius: 25%;
        height: 4px;
        background-color: $primary-color;
        width: 50%;
        margin-top: 2px;
        margin-bottom: 6%;
    }
}



.przyciski_sort {
    text-align: center;

    button {
        background-color: $primary-color;
        color: $thirdary-color;
        margin: 2%;
        border: none;
        border-radius: 25px;
        padding: 10px;
    }
}

.inputwnav {
    margin-left: 2%;
}

a {
    text-decoration: none;
}

input {
    border: none;
    border-radius: 35px;
}

input:focus {
    outline: $secondary-color groove 10px;
}

input:hover {
    outline: $secondary-color groove 10px;
}

body {
    background-color: $secondary-color;
}

textarea {
    margin-top: 10%;
    width: 90%;
}

.indexten {
    text-align: center;
    color: $thirdary-color;
}

.chmurkaislonce {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-bottom: 10%;

    .emoji-large {
        font-size: 100px;
    }

    button {
        background-color: transparent;
        background-image: none;
        border: none;
        margin-left: 2%;
        margin-right: 2%;
    }

    .chmurka:hover {
        border: $thirdary-color 1px solid;
        background-image: url('https://i.imgur.com/N5JUANZ.png');
    }

    .slonce:hover {
        border: $thirdary-color 1px solid;
        background-image: url('https://teraz.com.pl/vardata/gify/kotki/kotki076.gif');
        background-repeat: no-repeat;
    }
}

.form-komentarz {
    color: $thirdary-color;
    width: 100%;
    text-align: center;
    margin-bottom: 4%;

    .powiadomienie {
        color: rgb(122, 0, 0);
        text-wrap: 10;
    }

    button {
        background-color: $primary-color;
        color: $secondary-color;
        border: none;
        border-radius: 25px;
        padding: 10px;
    }

    button:hover {
        background-color: $thirdary-color;
        color: $primary-color;
    }

    textarea {
        max-height: 100px;
        border: none;
        padding: 10px;
        border-radius: 35px;
        background-color: $primary-color;
        color: $thirdary-color;
    }
}

.zdjcrzeczy {
    border-radius: 20px;
    width: 100%;
}

.pojemnik {
    margin-top: 10vh;
    margin-bottom: 30vh;
    margin-left: auto;
    margin-right: auto;
}

nav {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $primary-color;
}



.card {
    a {
        text-decoration: none;
        color: $primary-color;
        border-radius: 20px;
    }

    a:hover {
        background-color: $primary-color;
        color: $thirdary-color;
    }

    .widoczny {
        display: block;
        color: $thirdary-color;
        background-color: $fourthary-color;
        padding: 10%;
        border: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .niewidoczny {
        background-color: white;
        opacity: 90%;
        z-index: 20;
        display: block;

        div {
            display: none;

            button {
                border: none;
                background-color: $primary-color;
                color: $thirdary-color;
                border-radius: 25px;
                padding: 10px;
                margin: 2%;
            }

            button:hover {
                background-color: $fourthary-color;
                color: red;
            }


            width: 100%;
            text-align: center;
        }
    }

    button:hover {
        background-color: $primary-color;
        color: red;
    }

    border-radius: 20px;
    background-color: $thirdary-color;
    color: $primary-color;
}

footer {
    background-color: $fourthary-color;
    color: $secondary-color;
    padding: 20px 0;
    text-align: center;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-logo img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .footer-info p {
        margin: 5px 0;
    }

    .footer-info a {
        color: $thirdary-color;
        text-decoration: none;
    }
}

.komentarze {
    background-color: $primary-color;
    color: $thirdary-color;
    width: 100%;
    padding: 1%;
    text-align: left;
    border-radius: 25px;
    margin-bottom: 10%;

    .komentarz {
        border: solid 1px $thirdary-color;
        margin: 2%;
        border-radius: 12px;
        width: 29%;

        .przycisk_usun {
            border-radius: 25px;
            padding: 12px;
            margin: 10px;
            width: fit-content;
            float: right;
            background-color: $fourthary-color;
            padding: 2%;
            color: red;
        }

        .data_dodania {
            margin-top: 1%;
            font-size: small;
            margin-left: 20px;
            text-align: left;
        }

        .autor_komentarza {

            margin-left: 20px;
            font-size: large;
            text-align: left;
        }

        .tresc_komentarza {
            word-wrap: break-word;
            font-size: larger;
            padding: 2%;
            text-align: left;
        }
    }
}

.login-div {
    text-size-adjust: 10;
    border: $primary-color 9px solid;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $thirdary-color;
    width: fit-content;
    height: fit-content;

    p {
        padding: 3%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        background-color: $secondary-color;
        width: 30%;
        border-radius: 45px;
        color: $thirdary-color;
    }


    input {
        padding: 5%;
        width: 80%;
        margin-top: 20%;
    }

    button:hover {
        color: $thirdary-color;
        background-color: $secondary-color;
    }

    button {
        border-radius: 45px;
        padding: 5%;
        color: white;
        background-color: $primary-color;
        border: none;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

.zdjc-art {
    top: 0;
    margin-left: 0;
    z-index: -1;
    position: relative;
    margin-top: -20px;

    img {
        z-index: -1;
        margin-left: 0;
        width: 100%;
    }
}

.artykul-div::before {
    z-index: 4;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 299px;
    width: 100%;
    top: 0;
    margin-bottom: 2%;
    /* Use your background color, assuming white: */
    background-image: linear-gradient(to top, $secondary-color, rgba(255, 255, 255, 0));
}

.artykul-div {
    top: 0;
    border-radius: 20px;
    padding-top: 50px;
    overflow: auto;
    border: 0 solid transparent;
    text-align: center;
    width: 100%;
    z-index: 1;
    margin-top: -200px;
    margin-bottom: 10vh;
    background-color: $secondary-color;
    color: $primary-color;

    div {
        margin-left: 10vw;
        margin-right: 10vw;
        text-align: center;
    }
}

.tagi {
    text-align: center;
    margin-bottom: 2%;
    width: 100%;

    div {
        display: inline-block;
        background-color: $fourthary-color;
        color: $thirdary-color;
        padding: 10px;
        width: fit-content;
        border-radius: 35px;
    }
}

.artykul-form-div {
    text-size-adjust: 10;
    border: $primary-color 9px solid;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    height: fit-content;

    .powiadomienie {
        color: red;
    }

    input {
        padding: 1%;
        width: fit-content;
    }

    button:hover {
        color: $thirdary-color;
        background-color: $fourthary-color;
    }

    textarea:focus {
        border: none;
    }

    textarea {
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: $secondary-color;
        color: $primary-color;
        border: $primary-color 2px solid;
    }

    button {
        border-radius: 45px;
        padding: 5%;
        color: white;
        background-color: $primary-color;
        border: none;
        margin-bottom: 10%;
    }
}